 <div class="jumbotron text-center">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" >Dashboard Admin Console</a>
                </div>

                <ul class="nav navbar-nav">
                    
                    <li><a href ng-click="showResults()" ><i class="fa fa-adjust"></i> Results</a></li>
                    <li><a href ng-click="showIncident()" ><i class="fa  fa-ambulance"></i> Incidents</a></li>
                    <li><a href ng-click="showPubUsers()" ><i class="fa fa-user"></i> Public Users</a></li>
                    <li><a href ng-click="showMap()" ><i class="fa fa-map-marker"></i> Map</a></li>
                </ul>
            </div>
            </nav>
            <div ng-show="page == 'usersPub'" >
            	<md-content>
				    <md-list>
				      <md-subheader class="md-no-sticky">Public Users</md-subheader>
				      <md-list-item class="md-2-line" ng-repeat="user in usersPub">
				        <div class="md-list-item-text" layout="column">
				          <h3>{{ user.userName }} {{ user.userSurname }}</h3>
				           <p>{{ user.userTelephone }}</p>
				        </div>
				        <md-divider ></md-divider>
				      </md-list-item>
				      <md-divider ></md-divider>
				    </md-list>
				  </md-content>
            </div>
            <div ng-show="page == 'incident'" >
            	<md-content>
				    <md-list>
				      <md-subheader class="md-no-sticky">Incident</md-subheader>
				      <md-list-item class="md-2-line" ng-repeat="incident in incidents">
				        <div class="md-list-item-text" layout="column">
				        	<div>
			        			<p style="float: left;">
			        				Datum:{{ incident.dateTime }}
			        			</p>
			        		</div>
			        		<div>
			        			<p ng-if="!incident.verified" style="float: left;">
			        				Status: Ongeverifieerd
			        			</p>
			        			<p ng-if="incident.verified" style="float: left;">
			        				Status: Geverifieer
			        			</p>
			        		</div>
			        		<div>
			        			<p style="float: left;">
			        				Persoon:{{ incident.name }}
			        			</p>
		        			</div>
		        			<div>
			        			<p style="float: left;">
			        				Nommer:{{ incident.tel }}
			        			</p>
			        		</div>
				           <div ng-repeat="result in incident.result">
				           <p style="float: left;" ng-if="result.r && result.q != 'Vraag 3'">{{ result.q }}:{{ result.r }}</p>
				           	<img style="float: left;" ng-if="result.r && result.q == 'Vraag 3'" ng-src="{{result.r}}">
				           </img>
				           </div>
				           <md-button style="float: left;width: 30%;background-color: rgb(140, 197, 255);" ng-click="updateIncident(incident._id)">Verifieer</md-button> 
				        </div>
				        <md-divider ></md-divider>
				      </md-list-item>
				      <md-divider ></md-divider>
				    </md-list>
				  </md-content>
            </div>
            <div ng-show="page == 'map'" >
            	<md-content>
            		MAP HERE
            		<div class="row">
    				<div id="map" height="400px" style="height:700px">
    				<div id="class">
         			  <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a></div>
    				</div>
					</div>
				  </md-content>
            </div>
            
            <div ng-show="page == 'results'" >
            	<md-content>
				    <md-list>
				      <md-subheader class="md-no-sticky">Surveys</md-subheader>
				      <md-list-item class="md-2-line" ng-repeat="poll in polls" ng-click="openResult($index)">
				        <div class="md-list-item-text" layout="column">
				          <h3>{{ poll.pollName }}</h3>
				           <p>{{ poll.pollDesc }} </p>
				        </div>
				        <md-divider ></md-divider>
				      </md-list-item>
				      <md-divider ></md-divider>
				    </md-list>
				  </md-content>
            </div>
            <div ng-show="page == 'result'" >
            	<md-content>
				    <p class="text-center" ng-show="loading">
						<span class="fa fa-spinner fa-spin fa-3x"></span>
					</p>
					<md-list>
				      <md-subheader class="md-no-sticky">Surveys</md-subheader>
				      <md-list-item class="md-2-line" ng-repeat="(key, value) in results">
				        <div class="md-list-item-text" layout="column">
				          <h3> {{key}} </h3>
				           <div id="chart_{{$index}}" style="width: 900px; height: 500px;"></div>
				        </div>
				        <md-divider ></md-divider>
				      </md-list-item>
				      <md-divider ></md-divider>
				    </md-list>
				    <div google-chart chart="chartObject" ></div>
				  </md-content>
            </div>

    </div>