<div class="jumbotron text-center">
	<md-container>

        <div class="box">
		<h1>Log In</h1>
		 <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input ng-model='username'>
          </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model='password'>
          </md-input-container>
        </div>
		 <md-button ng-click="login()">Login</md-button> 
	</md-container>
</div>