 <div class="jumbotron text-center">
        <md-container>
        <div class="box">
		<h1>Sign Up</h1>
		 <div layout-gt-sm="row">
		 <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input  ng-model='name'>
          </md-input-container>
           </div>
      <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
            <label>Surname</label>
            <input  ng-model='surname'>
          </md-input-container>
           </div>
      <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input  ng-model='email'>
          </md-input-container>
      </div>
      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input ng-model='username'>
          </md-input-container>
          </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model='password'>
          </md-input-container>
          </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input type="password" ng-model='confirmPassword'>
          </md-input-container>
          </div>
		 <md-button ng-click="signup()">Sign Up</md-button> 
	</md-container>
    </div>